<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Listar Usuario</title>
</head>

<body>
	<section layout:fragment="slide">
		<div class="page-header">
			<h1>
				<small>Gerenciar Usuário</small>
			</h1>
		</div>
	</section>

	<section layout:fragment="conteudo">

		<div class="panel panel-default">
			<!-- Table -->
			<table class="table">
				<tr>
					<th>Nome do usuário</th>
					<th>Data de Nasicmento</th>
					<th>Email</th>
					<th>Ações</th>
				</tr>
				<tr th:each="usuario: ${usuarios}">
					<td th:text="${usuario.nome}"></td>
					<td th:text="${#calendars.format(usuario.dataNascimento, 'dd/MMM/yyyy')}"></td>
					<td th:text="${usuario.login.nomeUsuario}"></td>
					<td>
						<div class="btn-group" role="group" aria-label="...">
							<a class="fa fa-pencil btn"	th:href="@{/usuario/{id}(id=${usuario.id})}"></a> 
							<a	class="fa fa-trash btn" th:href="@{/usuario/excluir/{id}(id=${usuario.id})}"></a>
						</div>
					</td>
				</tr>
				<tr th:if="${usuarios.empty}">
					<td colspan="6">Nenhum usuário cadastrado</td>
				</tr>
			</table>
		</div>

	</section>
</body>
</html>