<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Listar Voo</title>
</head>
<script>
function sendData()
{
        $.ajax(
        {
            type: "GET",
            data: $("#valorIdVO").value,
            cache: false,
            url: "/voo/editar/"data,
            success: function(data) 
            {
                alert("Your changes have been saved");
            },
            error: function()
            {
                alert("Error - Data not saved");
            }

        });
}

</script>
<body>
	<section layout:fragment="slide">
		<div class="page-header">
			<h1>
				<small>Gerenciar Voos</small>
			</h1>
		</div>
	</section>

	<section layout:fragment="conteudo">

			<!-- Button trigger modal -->
			<button type="button" 
					class="btn btn-primary btn-lg" 
					data-toggle="modal" 
					data-target="#modalAdicionaEdita">
			  Novo voo
			</button>
			<br /><br /><br />
			
		<div class="panel panel-default">
			<!-- Table -->
			<table class="table">
				<tr>
					<th>Numero do voo</th>
					<th>Origem / Destino</th>
					<th>Data do voo</th>
					<th>Preço</th>
					<th>Quantidade de acentos</th>
					<th>Ações</th>
				</tr>
				<tr th:each="vooVO: ${voos}">
					<td th:text="${vooVO.id}" id="valorIdVO"></td>
					<td th:text="${vooVO.origemDestino}"></td>
					<td th:text="${#calendars.format(vooVO.horaDoVoo, 'dd/MMM/yyyy')}"></td>
					<td th:text="${vooVO.precoDoVoo}"></td>
					<td th:text="${vooVO.capacidadeDoVoo}"></td>
					<td>
						<div class="btn-group" role="group" aria-label="...">
							<a class="fa fa-pencil btn"	data-toggle="modal"  data-target="#modalAdicionaEdita" th:href="@{/voo/editar/{id}(id=${vooVO.id})}"></a> 
							<a	class="fa fa-trash btn" th:href="@{/voo/excluir/{id}(id=${vooVO.id})}"></a>
						</div>
					</td>
				</tr>
				<tr th:if="${voos.empty}">
					<td colspan="6">Nenhum voo cadastrado</td>
				</tr>
			</table>
		</div>
		
		<!-- modal  adiciona / edita-->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="modalAdicionaEdita">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Voo</h4>
			      </div>
			      <div class="modal-body">
						<form th:action="@{/voo/salvar}" method="post" th:object="${voo}" action="#">

							<div class="row">

								<div class="col-sm-4 form-group"
									th:classappend="${#fields.hasErrors('origem.dsNome')} ? has-error">

									<label for="cidadeOrigem" class="control-label">Cidade
										Origem</label> <select id="cidadeOrigem"
										class="form-control control-label" th:field="*{origem.id}">
										<option value="">Selecione a cidade</option>
										<option th:each="cidadeOrigem : ${cidadeList}"
											th:value="${cidadeOrigem.id}"
											th:text="${cidadeOrigem.dsNome}"></option>
									</select>

								</div>


								<div class="col-sm-4 form-group"
									th:classappend="${#fields.hasErrors('destino.dsNome')} ? has-error">

									<label for="cidadeDestino" class="control-label">Cidade
										Destino</label> <select id="cidadeDestino"
										class="form-control control-label" th:field="*{destino.id}">
										<option value="">Selecione a cidade</option>
										<option th:each="cidadeDestino : ${cidadeList}"
											th:value="${cidadeDestino.id}"
											th:text="${cidadeDestino.dsNome}"></option>
									</select>

								</div>

								<div class="col-sm-4 form-group"
									th:classappend="${#fields.hasErrors('quilometragem')} ? has-error">
									<label for="quilometragem" class="control-label">Distancia em km</label> <input
										id="quilometragem" type="text" th:field="*{quilometragem}"
										class="form-control" />
								</div>

							</div>
							
							<div class="row">
							
								<div class="col-sm-4 form-group"
									th:classappend="${#fields.hasErrors('preco')} ? has-error">
									<label for="preco" class="control-label">Preço por passageiro</label> <input
										id="preco" type="text" th:field="*{preco}"
										class="form-control" />
								</div>
								
								<div class="col-sm-4 form-group"
										th:classappend="${#fields.hasErrors('dataPartida')} ? has-error">
										<label for="data" class="control-label">Data do Voo</label> <input
											id="data" type="text" th:field="*{dataPartida}"
											class="form-control" />
								</div>
								
								<div class="col-sm-4 form-group"
										th:classappend="${#fields.hasErrors('minutosDuracao')} ? has-error">
										<label for="minutosDuracao" class="control-label">Duração</label> <input
											id="minutosDuracao" type="text" th:field="*{minutosDuracao}"
											class="form-control" />
								</div>
							</div>
							
							<div class="row">
								
								<div class="col-sm-4 form-group"
									th:classappend="${#fields.hasErrors('aeronave.descricaoModelo')} ? has-error">

									<label for="aeronave" class="control-label">Aeronave do Voo</label> <select id="cidadeDestino"
										class="form-control control-label" th:field="*{aeronave.id}">
										<option value="">Selecione a Aeronave</option>
										<option th:each="aeronave : ${aeronaveList}"
											th:value="${aeronave.id}"
											th:text="${aeronave.descricaoModelo}"></option>
									</select>

								</div>
							</div>

							      <div class="modal-footer">
							        	<button type="submit" class="btn  btn-primary">Salvar</button>
										<button type="button" class="btn  btn-danger" data-dismiss="modal">Cancelar</button>
				
							      </div>
						</form>
					</div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		

	</section>
	
</body>
</html>