<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Cadastro de Voo</title>
</head>

<body>
	<section layout:fragment="slide">
		<div class="page-header">
			<h1>
				<small>Novo/Editar Voo</small>
			</h1>
		</div>
	</section>

	<section layout:fragment="conteudo">
		<form th:action="@{/voo/salvar}" method="post" th:object="${voo}">

			<div class="container-fluid">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Cadastro de Voo</h3>
					</div>

					<div class="panel-body">

						<div class="form-group"
							th:classappend="${#fields.hasErrors('id')} ? has-error">
							<label for="nome" class="control-label">Numero do Voo</label> <input
								id="nome" name="nome" type="text" class="form-control"
								th:field="*{id}" />
						</div>

						<div class="row">

							<div class="col-sm-4 form-group"
								th:classappend="${#fields.hasErrors('destino.dsNome')} ? has-error">

								<label for="cidadeOrigem" class="control-label">Cidade
									Origem</label> <select id="cidadeOrigem"
									class="form-control control-label" th:field="*{destino.id}">
									<option value="">Selecione a cidade</option>
									<option th:each="cidadeOrigem : ${cidadeList}"
										th:value="${cidadeOrigem.id}" th:text="${cidadeOrigem.dsNome}"></option>
								</select>

							</div>


							<div class="col-sm-4 form-group"
								th:classappend="${#fields.hasErrors('origem.dsNome')} ? has-error">

								<label for="cidadeDestino" class="control-label">Cidade
									Destino</label> <select id="cidadeDestino"
									class="form-control control-label" th:field="*{origem.id}">
									<option value="">Selecione a cidade</option>
									<option th:each="cidadeDestino : ${cidadeList}"
										th:value="${cidadeDestino.id}"
										th:text="${cidadeDestino.dsNome}"></option>
								</select>

							</div>

							<div class="col-sm-4 form-group"
								th:classappend="${#fields.hasErrors('dataPartida')} ? has-error">
								<label for="data" class="control-label">Data do Voo</label> <input
									id="data" type="text" th:field="*{dataPartida}"
									class="form-control" />
							</div>

						</div>

						<br />

						<div class="form-group">
							<button class="btn  btn-primary" type="submit">Salvar</button>
							<button class="btn  btn-danger">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>