<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layoutPadrao">

<head>
<title>Pagina Incial</title>
</head>
<body>

	<section layout:fragment="slide">

		<div class="slider-area">
			<div class="slider">
				<div id="bg-slider" class="owl-carousel owl-theme">

					<div class="item">
						<img th:src="@{/layout/img/slider-image-3.jpg}" alt="Mirror Edge" />
					</div>
					<div class="item">
						<img th:src="@{/layout/img/slider-image-2.jpg}"
							alt="The Last of us" />
					</div>
					<div class="item">
						<img th:src="@{/layout/img/slider-image-1.jpg}" alt="GTA V" />
					</div>

				</div>
			</div>
			<div class="container slider-content">
				<div class="row">
					<div
						class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
						<h2>Job Searching Just Got So Easy</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam
							velit adipisci quibusdam aliquam teneturo!</p>
						<div class="search-form wow pulse" data-wow-delay="0.8s">
							<form action="" class=" form-inline">
								<div class="form-group">
									<input type="text" class="form-control"
										placeholder="Job Key Word" />
								</div>
								<div class="form-group">
									<select name="" id="" class="form-control">
										<option>Select Your City</option>
										<option selected="selected">New york, CA</option>
										<option>New york, CA</option>
										<option>New york, CA</option>
										<option>New york, CA</option>
									</select>
								</div>
								<div class="form-group">
									<select name="" id="" class="form-control">
										<option>Select Your Category</option>
										<option selected="selected">Graphic Design</option>
										<option>Web Design</option>
										<option>App Design</option>
									</select>
								</div>
								<input type="submit" class="btn" value="Search" />


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<section layout:fragment="conteudo">
		<div class="content-area">
			<h1 style="margin-left: 8%">
				<small>Voo</small>
			</h1>

			<div class="container">
				<table id="table-1" class="table">
					<thead>
						<tr>
							<th>A</th>
							<th>B</th>
							<th>C</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>a</td>
							<td>b</td>
							<td>c</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>A</th>
							<th>B</th>
							<th>C</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</section>

</body>
</html>