<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Listar Usuario</title>
</head>

<body>
	<section layout:fragment="slide">
		<div class="page-header">
			<h1>
				<small>Usuario Inicial</small>
			</h1>
		</div>
	</section>

	<section layout:fragment="conteudo">


	</section>
</body>
</html>